<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
    .inputchange{
      padding:11px 13px;
      padding-right:16px;
    }
    .wai{
      width: 1210px;
      margin:0 auto;
    }
    .btn{
      float: left;
    }
    .left{
      float: left;
    }
    .right{
      float:right;
    }
    .search{
      background:#409EFF;
      color:#ffffff;
      padding:11px 13px;
      border:none;
      outline: none;
      text-align:center;
      padding-right:16px;
    }
  </style>
</head>
<body>
<div class="wai">
  <div class="btn">
    <div class="left">
      <input type="text" class="inputchange">
      <button class="search">搜索</button>
    </div>
    <div class="right">
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
      <button class="search">搜索</button>
    </div>
  </div>
</div>

</body>
</html>
